spring:
  application:
    name: ControlLectura

  datasource:
    url: jdbc:postgresql://localhost:5432/db_control
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

server:
  port: 8080